@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    BYU-Nebraska<br />
    In c/o Greg Moody<br />
    125 O. Street <br />
    Lincoln, NE 68822<br />
    <abbr title="Phone">P:</abbr>
    402.555.5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@byun.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@byun.edu</a>
</address>
