@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>BYU-Nebraska</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to BYU-Nebraska!</h2>
        <p>
            BYU- Nebraska is the newest edition to the BYU family.
            Located in Lincoln, Nebraska, it is said to have the "Greatest Corn."
            Students here are known for their corny puns. <br /> <br />
            Enroll today!
        </p>
    </div>
    <div class="col-md-3">
        <h2>Our School</h2>
        <img src="~/images/college.jpeg" />
    </div>
</div>